<div>
  <h1>Profil</h1>
  <div id="1">
    <div>
      <label for="ancienmdp">Ancien Mot de passe:</label>
      <input type="text" id="username" name="username">
    </div>
    <div>
      <label for="nouveaumdp">Mot de passe :</label>
      <input type="password" id="pass" name="password" required>
    </div>
    <div>
      <label for="verifmdp">Confirmation Mot de passe :</label>
      <input type="password" id="pass" name="password" required>
    </div>
    <input id="valider" type="button" onClick="validerNewMDP(this)" value="Valider">
    <input id="annuler" type="button" onClick="anullerMDP(this)" value="Annuler">
  </div>
</div>
