<body>

<header>
  <input type="checkbox" id="active">
  <label for="active" class="menu-btn"><span></span></label>
  <label for="active" class="close"></label>
  <div class="wrapper">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">librairie</a></li>
      <li><a href="#">Panier</a></li>
      <li><a href="#">Commande</a></li>
    </ul>
  </div>
</header>
  <h2>Déjà enregistré ?</h2>
  <div id="form">
    <form action="/my-handling-form-page" method="post">
      <div class="formin">
          <label for="name">Nom</label>
          <input type="text" id="name" name="user_name">
      </div>

      <div class="formin">
          <label for="mdp">mot de passe</label>
          <input type ="password" name="user_password">
      </div>

      <div>
      <button type="submit" form="form1" value="Submit">Submit</button>
      </div>
    </form>
  </div>

  <h2>nouveau client</h2>
  <div id="form">
    <form action="/my-handling-form-page" method="post">
      <div class="formin">
          <label for="name">Nom</label>
          <input type="text" id="name" name="user_name">
      </div>

      <div class="formin">
          <label for="mdp">prénom</label>
          <input type ="text" name="user_firstn">
      </div>

      <div class="formin">
        <label for="name">mail</label>
        <input type="email" name="user_mail">
    </div>

    <div class="formin">
        <label for="mdp">mot de passe</label>
        <input type ="password" name="user_password">
    </div>
    <div class="formin">
      <label for="name">confirmation mdp</label>
      <input type ="password" name="user_password">
  </div>

      <div>
      <button type="submit" form="form1" value="Submit">Submit</button>
      </div>
    </form>
  </div>


</body>
