body
{
    height: 99%;
    margin: 0;
    display: grid;
    place-items: center;
    background: #2f4858;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-align:center;
}

h1
{
    text-align: center;
    color: #cd6f0d;
    width: 100%;
    font-size: 5vw;
    font-weight: bold;
}

button
{
    background: #cd6f0d;
    border-color: transparent;
    color: #2f4858;
    cursor: pointer;
    text-align: center;
}

p
{
    text-align: center;
    text-align: justify;
    width: 100%;
    font-size: 2vw;
}

p
{
    border: 2px solid #cd6f0d;
    background-color: white;
    color: #2f4858;
}
